<div class="container">
    <h2>Search cpu by specifications</h2>
    <form class="form">
      <div class="input">
        <div class="row-margin">
            <label>Lower clock speed</label>
            <input type="number" [(ngModel)]="lowerClockSpeed" min="0" name="lowerClockSpeed" />
        </div>
        <div>
            <label>Higher clock speed</label>
            <input type="number" [(ngModel)]="higherClockSpeed" min="0" name="higherclockspeed" />
        </div>
      </div>
      
      <div class="input">
        <div class="row-margin">
            <label>Lower tdp</label>
            <input type="number" [(ngModel)]="lowerTdp" min="0" name="lowertdp" />
        </div>
        <div>
            <label>Higher tdp</label>
            <input type="number" [(ngModel)]="higherTdp" min="0" name="highertdp" />
        </div>
      </div>

      <div class="input">
        <div class="row-margin">
            <label>Lower cores</label>
            <input type="number" [(ngModel)]="lowerCores" min="0" name="lowercores" />
        </div>
        <div>
            <label>Higher cores</label>
            <input type="number" [(ngModel)]="higherCores" min="0" name="highercores" />
        </div>
      </div>

      <div class="input">
        <div class="row-margin">
            <label>Lower threads</label>
            <input type="number" [(ngModel)]="lowerThreads" min="0" name="lowerthreads" />
        </div>
        <div>
            <label>Higher threads</label>
            <input type="number" [(ngModel)]="higherThreads" min="0" name="higherthreads" />
        </div>
      </div>
      <button class="sign-in-button" type="submit" (click)="search()">Search</button>
    </form>
  </div>

  <h2 class="results-headline">Search results: </h2>
  <div class="cards-container" *ngIf="submitted === true">
    <div class="card" *ngFor="let cpu of cpus">
      <div class="table">
        <h2 class="results-headline"><b>{{cpu.name}}</b></h2>
        <table>
          <tbody>
            <tr>
              <th>Cores: </th>
              <td>{{cpu.cores}}</td>
            </tr>
            <tr>
              <th>Threads: </th>
              <td>{{cpu.threads}}</td>
            </tr>
            <tr>
              <th>Clock speed: </th>
              <td>{{cpu.clockSpeed}} GHz</td>
            </tr>
            <tr>
              <th>Socket: </th>
              <td>{{cpu.socket}}</td>
            </tr>
            <tr>
              <th>TDP: </th>
              <td>{{cpu.tdp}} W</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
